<div class="section partners">
	<div class="section-content">

		<div class="section-heading">
			<h5>团队资历</h5>
			<h2>我们的顾问曾为以下机构提供翻译服务</h2>			
		</div>

		<div class="row">

			<div class="col-sm-6 col-md-4 partner-logo hvr-grow">
				<button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="NiHao APP，科技创业公司（应用程序），杭州">
					<%= image_tag "partner/nihao.png", alt: "NiHao App" %>
				</button>
			</div>
			<div class="col-sm-6 col-md-4 partner-logo hvr-grow">
				<button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="比尔及梅琳达盖茨基金会，国际非政府组织，北京办公室">
					<%= image_tag "partner/gates.png", alt: "Gates Foundation" %>
				</button>
			</div>

			<div class="clearfix visible-sm-block"></div>
			
			<div class="col-sm-6 col-md-4 partner-logo hvr-grow">
				<button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="top" title=" Traintracks，科技创业公司（企业软件），北京">
					<%= image_tag "partner/tt.png", alt: "Traintracks.io" %>
				</button>
			</div>
			<div class="col-sm-6 col-md-4 partner-logo hvr-grow">
				<button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="top" title=" AirBnb，科技公司（民宿旅游平台），北京">				
					<%= image_tag "partner/airbnb.png", alt: "Airbnb" %>
				</button>
			</div>

			<div class="clearfix visible-sm-block"></div>

			<div class="col-sm-6 col-md-4 partner-logo hvr-grow">
				<button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="大友科技，科技公司（硬件设备研发），北京">			
					<%= image_tag "partner/tstech.png", alt: "T&S Technologies" %>
				</button>
			</div>
			<div class="col-sm-6 col-md-4 partner-logo hvr-grow">
				<button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="全景保险，保险公司，上海">				
					<%= image_tag "partner/pibb.png", alt: "Panoramic Insurance" %>
				</button>
			</div>

			<div class="clearfix visible-sm-block"></div>

			<div class="col-sm-6 col-md-6 partner-logo hvr-grow">
				<button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="动能之星，广告公司（视频制作与营销），北京">				
					<%= image_tag "partner/k1.png", alt: "Kinetic One" %>
				</button>
			</div>
			<div class="col-sm-6 col-md-6 partner-logo hvr-grow">
				<button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Migraine Escape，药品研发，澳大利亚">				
					<%= image_tag "partner/me.png", alt: "Migraine Escape" %>
				</button>
			</div>

			<div class="clearfix visible-sm-block"></div>

		</div>		

	</div>	
</div>