<div class="section sectors">
	<div class="section-content">

		<div class="section-heading">
			<h5>服务领域</h5>
			<h2>我们的服务涵盖多种行业，包括并不限于以下领域</h2>	
		</div>


		<div class="row">
			<div class="col-sm-6">
				<h3><%= image_tag "icons/015-airplane.png", class: "sector-icon" %>旅游</h3>
				<div class="sector-text">
					<p>您计划的行程、吃、住是否符合外国游客的旅游习惯？</p>
				</div>
			</div>
			<div class="col-sm-6">
				<h3><%= image_tag "icons/016-mortarboard.png", class: "sector-icon" %>教育</h3>
				<div class="sector-text">
					<p>您的课程设置和招生流程是否贴合留学生的学习、阅读和申请习惯？</p>
				</div>
			</div>	
		</div>

		<div class="row">
			<div class="col-sm-6">
				<h3><%= image_tag "icons/android.png", class: "sector-icon" %>互联网科技创业公司</h3>
				<div class="sector-text">
					<p>地道的英语文案能为您的应用程序赢得更多外国用户。专业的英文企划书更能帮助提高公司估值、带来更多投资。</p>
				</div>
			</div>
			<div class="col-sm-6">
				<h3><%= image_tag "icons/007-shopping-bag.png", class: "sector-icon" %>零售</h3>
				<div class="sector-text">
					<p>漏洞百出的英文让人对您的第一印象大减。用更专业、准确的英文表达来提升您的品牌形象。</p>
				</div>
			</div>			
		</div>

		<div class="row">
			<div class="col-sm-6">
				<h3><%= image_tag "icons/011-doughnut.png", class: "sector-icon" %>餐饮娱乐</h3>
				<div class="sector-text">
					<p>让更多外国人光顾您的店，首先得需要他们能看懂的菜单。</p>
				</div>
			</div>
			<div class="col-sm-6">
				<h3><%= image_tag "icons/008-youtube.png", class: "sector-icon" %>影视</h3>
				<div class="sector-text">
					<p>让更多外国人读懂您的艺术和品牌。</p>
				</div>
			</div>			
		</div>

		<div class="row">
			<div class="col-sm-6">
				<h3><%= image_tag "icons/006-basketball-jersey.png", class: "sector-icon" %>体育</h3>
				<div class="sector-text">
					<p>用专业、准确的英文表达来提升您的品牌形象，吸引更好的运动员和更多的追随者。</p>
				</div>
			</div>
			<div class="col-sm-6">
				<h3><%= image_tag "icons/002-planet.png", class: "sector-icon" %>国际贸易与制造</h3>
				<div class="sector-text">
					<p>与您竞争的企业太多了。想要留住更多外国客户，您需要用更地道的英文来包装您的商品。</p>
				</div>
			</div>			
		</div>

	</div>
</div>

<div class="clear"></div>
