<div class="section sectors">
	<div class="section-content">

		<div class="section-heading">
			<h2>服务领域</h2>
		</div>


		<div class="row">
			<div class="col-sm-6">
				<h3><%= image_tag "icons/015-airplane.png", class: "sector-icon" %>旅游</h3>
				<div class="sector-text">
					<p>了解外国游客的旅游习惯和偏爱的旅游方式。</p>
				</div>
			</div>
			<div class="col-sm-6">
				<h3><%= image_tag "icons/016-mortarboard.png", class: "sector-icon" %>教育</h3>
				<div class="sector-text">
					<p>了解留学生的申请习惯和偏爱的课程设置。</p>
				</div>
			</div>	
		</div>

		<div class="row">
			<div class="col-sm-6">
				<h3><%= image_tag "icons/android.png", class: "sector-icon" %>互联网科技创业公司</h3>
				<div class="sector-text">
					<p>为您的应用程序赢得更多外国用户、提高公司估值、吸引更多投资。</p>
				</div>
			</div>
			<div class="col-sm-6">
				<h3><%= image_tag "icons/007-shopping-bag.png", class: "sector-icon" %>零售</h3>
				<div class="sector-text">
					<p>漏洞百出的英文让人对您的第一印象大减。用更专业、准确的英文表达来提升您的品牌形象。</p>
				</div>
			</div>			
		</div>

		<div class="row">
			<div class="col-sm-6">
				<h3><%= image_tag "icons/011-doughnut.png", class: "sector-icon" %>餐饮娱乐</h3>
				<div class="sector-text">
					<p>让更多外国人看懂您的菜单！</p>
				</div>
			</div>
			<div class="col-sm-6">
				<h3><%= image_tag "icons/008-youtube.png", class: "sector-icon" %>影视</h3>
				<div class="sector-text">
					<p>Have translated for TV shows, music videos, branded video and media..</p>
				</div>
			</div>			
		</div>

		<div class="row">
			<div class="col-sm-6">
				<h3><%= image_tag "icons/006-basketball-jersey.png", class: "sector-icon" %>体育</h3>
				<div class="sector-text">
					<p>用专业、准确的英文表达来提升您的品牌形象，吸引更好的运动员和更多的追随者。</p>
				</div>
			</div>
			<div class="col-sm-6">
				<h3><%= image_tag "icons/002-planet.png", class: "sector-icon" %>国际贸易与制造</h3>
				<div class="sector-text">
					<p>与您竞争的企业太多了。用更专业、准确的英文包装您的商品，留住更多外国客户。</p>
				</div>
			</div>			
		</div>

		<div class="row">
			<div class="col-sm-12">
				<h3><%= image_tag "icons/009-money.png", class: "sector-icon" %>银行金融</h3>
				<div class="sector-text">
					<p>要让客户放心把钱交给您管理，您需要维持可信的品牌形象。准确、专业的英文表达是关键。</p>
				</div>
			</div>			
		</div>


	</div>
</div>

<div class="clear"></div>
