<div class="page page-about">
	
	<div class="page-header">
		<nav class="navbar navbar-default">
		  <div class="container-fluid">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
			    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
			    </button>    	
				<a class="navbar-brand hvr-grow" href="/">
				<%= image_tag "logo/logo-bulb-ye.png" %>
				</a>
				<a class="mobile-flag hvr-bob" href="/en/about">
					<%= image_tag "flag-eng.png", class: "flag", alt: "English" %>
				</a>				
		    </div>
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      <ul class="nav navbar-nav navbar-right">
		        <li class="navbar-active-tab"><a href="/pages/about/">我们是谁？</a></li>
		        <li><a href="/pages/contact/">联系我们</a></li>
				<li><a class="desktop-flag hvr-bob" href="/en/about"><%= image_tag "flag-eng.png", class: "flag", alt: "English" %></a></li>       
		      </ul>
		    </div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</nav>

		<div class="page-title">
			<h1>我们是谁？</h1>
		</div>
	</div>

	<div class="page-wrapper">
		<div class="page-content">
			<div class="page-sub-content narrow">
				<h3>我们的顾问拥有多个产业市场、销售、客户管理方面的从业经验。他们除了双语流利之外，更重要的是熟悉海外一流品牌的沟通偏好。准确、自然且专业的英文表达将帮助您成为海外客户在中国的不二选择。</h3>
			</div>

			<div class="row">
				<div class="col-sm-4">
					<div class="team-member">
						<div>
							<%= image_tag "photo/rc.jpg" %>
						</div>
						<div>
							<h2>RYAN</h2>
							<h4>市场主管</h4>
							<p>Ryan来自英国，使用英语（母语）和中文。他曾在英国及香港从事金融投资工作，随后来到中国大陆学汉语。Ryan在品牌营销、翻译及平面设计方面有着丰富经验，并且熟悉中英文化，能帮助您有效地传递品牌信息、扩大品牌影响力。
							</p>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="team-member">
						<div>
							<%= image_tag "photo/zrq.jpg" %>
						</div>
						<div>
							<h2>若琼</h2>
							<h4>翻译主管</h4>
							<p>若琼来自中国，能够流利使用中文（母语）和英语。她曾长期居住于英、美，并曾在科技与媒体领域的外资机构以双语负责项目管理及市场营销。若琼有着丰富的中英互译经验，曾协助Airbnb、盖茨基金会等机构翻译官方文件、视频文案、招商企划等。
							</p>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="team-member">
						<div>
							<%= image_tag "photo/sr.jpg" %>
						</div>
						<div>
							<h2>SEBASTIAN</h2>
							<h4>顾问</h4>
							<p>Sebastian来自加拿大，会说英语（母语）、中文和韩语。Sebastian曾在中国长期学习生活。他在教育及翻译领域经验丰富，同时还擅长平面设计与公共演讲。
							</p>
						</div>
					</div>
				</div>	
			</div>			

			<div class="row">
				<div class="col-sm-2">
				</div>				
				<div class="col-sm-4">
					<div class="team-member">
						<div>
							<%= image_tag "photo/qq.jpg" %>
						</div>
						<div>
							<h2>七七</h2>
							<h4>顾问</h4>
							<p>七七来自中国，能够流利使用中文（母语）和英语。七七现为复旦大学研究生，专注学习研究国际教育。她对教育充满热情，擅长将中英文作为外语教授给来自世界各地的人。
							</p>
						</div>
					</div>
				</div>

				<div class="col-sm-4">
					<div class="team-member">
						<div>
							<%= image_tag "photo/dy.jpg" %>
						</div>
						<div>
							<h2>彦博</h2>
							<h4>顾问</h4>
							<p>彦博来自中国，能够流利使用中文（母语）和英语。彦博现居加拿大，对中西方文化有着深入理解。他的职业经历专注于金融、投资领域。
							</p>
						</div>
					</div>
				</div>	
				<div class="col-sm-2">
				</div>							
			</div>
		</div>
	</div>

	<footer>
		<%= render 'copyright' %>
	</footer>
</div>