<div class="page page-about">

	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
		    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
		    </button>    	
			<a class="navbar-brand" href="/">
			<%= image_tag "logo-colour.png" %>
			</a>
	    </div>
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav navbar-right">
	        <li><a href="trans">翻译服务</a></li>
	        <li class="navbar-active-tab"><a href="about">关于我们</a></li>
	        <li><a href="contact">联系我们</a></li>        
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>

	<div class="page-wrapper">

		<div class="page-heading">
			<h1>About Us</h1>
		</div>

		<div class="page-content">

			<div class="page-sub-content narrow">
				<p>We are an experienced team made up of bilingual native English and Chinese speakers. Based out of Shanghai and Beijing, we can help you wherever you are in China.</p>
			</div>

			<div class="row">
				<div class="col-md-2">
				</div>
				<div class="col-md-4 col-sm-6">
					<div class="team-member">
						<div>
							<%= image_tag "mike.png" %>
						</div>
						<div>
							<h3>Ryan</h3>
							<h5>Co-CEO & Head of Marketing</h5>
							<p>Ryan comes from the UK and speaks English and Chinese. He has extensive experience in customer-facing roles, so he truly understands how clients like being communicated to. Ryan formerly worked in the UK and Hong Kong for Barclays Bank in wealth and investment management. Ryan previously studied at both Fudan University and ECNU in Shanghai, and Cass Business School and University of Leicester in the UK.
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6">
					<div class="team-member">
						<div>
							<%= image_tag "mike.png" %>
						</div>
						<div>
							<h3>Rachel</h3>
							<h5>Co-CEO & Head of Translation</h5>
							<p>Rachel is from Shenzhen and speaks fluent English and Chinese. Her professional experience involves significant customer interaction, including a previous role at Gates Foundation. Rachel graduated from St Olaf College in Minnesota, USA.
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-2">
				</div>								
			</div>

			<div class="row">
				<div class="col-sm-4">
					<div class="team-member">
						<div>
							<%= image_tag "mike.png" %>
						</div>
						<div>
							<h3>Sebastian</h3>
							<p>Sebastian hails from Canada and speaks English, Chinese, Korean, German and Spanish.
							</p>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="team-member">
						<div>
							<%= image_tag "mike.png" %>
						</div>
						<div>
							<h3>Daniel</h3>
							<p>Daniel comes from Shanghai and speaks fluent English and Chinese.
							</p>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="team-member">
						<div>
							<%= image_tag "mike.png" %>
						</div>
						<div>
							<h3>Dany</h3>
							<p>Dany comes from Switzerland and speaks French, English and Hebrew.
							</p>
						</div>
					</div>
				</div>				
			</div>

		</div>

	</div>
</div>

<%= render 'footer' %>