<div class="page page-about">
	
	<div class="page-header">
		<nav class="navbar navbar-default">
		  <div class="container-fluid">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
			    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
			    </button>    	
				<a class="navbar-brand hvr-grow" href="/">
				<%= image_tag "logo/logo-icon-pink.png" %>
				</a>
		    </div>
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      <ul class="nav navbar-nav navbar-right">
		        <li class="navbar-active-tab"><a href="about">我们是谁？</a></li>
		        <li><a href="contact">联系我们</a></li>
				<li><a class="hvr-bob" href="/en/about"><%= image_tag "flag-eng.png", class: "flag", alt: "English" %></a></li>       
		      </ul>
		    </div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</nav>

		<div class="page-title">
			<h1>我们是谁？</h1>
		</div>
	</div>

	<div class="page-wrapper">
		<div class="page-content">
			<div class="page-sub-content narrow">
				<h3>我们的顾问拥有多个产业市场、销售、客户管理方面的从业经验。他们除了双语流利之外，更重要的是熟悉海外一流品牌的沟通偏好。准确、自然且专业的英文表达将帮助您成为海外客户在中国的不二选择。<h3p>
			</div>

			<div class="row">
				<div class="col-md-6">
					<div class="team-member">
						<div>
							<%= image_tag "photo/rc.jpg" %>
						</div>
						<div>
							<h2>RYAN 瑞安</h2>
							<h5>市场、客户主管</h5>
							<p>Ryan来自英国，使用英语（母语）和中文。他曾在英国及香港就职于巴克莱银行财富与投资管理部门，还曾先后于华东师范大学及复旦大学学习中文。Ryan有着丰富的市场、客户管理经验并且熟悉中英文化，能帮助您有效地传递品牌信息、扩大品牌影响力。Ryan于伦敦城市大学卡斯商学院获金融硕士学位。
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="team-member">
						<div>
							<%= image_tag "photo/zrq.jpg" %>
						</div>
						<div>
							<h2>RACHEL 若琼</h2>
							<h5>翻译主管</h5>
							<p>Rachel来自深圳，使用中文（母语）和英语。她曾在多个领域的外资机构以双语负责项目管理及市场营销。Rachel有着丰富的中英互译经验，曾协助盖茨基金会等机构翻译官方文件、网站文案、招商企划等。Rachel于美国明尼苏达州St.Olaf College获文学士学位。
							</p>
						</div>
					</div>
				</div>							
			</div>

			<div class="row">
				<div class="col-sm-4">
					<div class="team-member">
						<div>
							<%= image_tag "photo/dy.jpg" %>
						</div>
						<div>
							<h2>DANIEL</h2>
							<p>Daniel comes from Shanghai and speaks fluent English and Chinese. Currently based in Canada, Daniel's professional experience lies in the finance and education sectors.
							</p>
						</div>
					</div>
				</div>				
				<div class="col-sm-4">
					<div class="team-member">
						<div>
							<%= image_tag "mike.png" %>
						</div>
						<div>
							<h3>Sebastian</h3>
							<p>Sebastian来自加拿大，使用英语（母语）、中文、韩语、德语及西班牙语。
							</p>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="team-member">
						<div>
							<%= image_tag "mike.png" %>
						</div>
						<div>
							<h3>Xian Qi</h3>
							<p>Qiqi is fluent in both English and Chinese and has extensive experience in the education sector.
							</p>
						</div>
					</div>
				</div>				
			</div>

		</div>

	</div>

	<footer>
		<%= render 'copyright' %>
	</footer>
</div>