<div class="pagecontainer">

	<%= render 'hero' %>
	<%= render 'why' %>
	<%= render 'services' %>
	<%= render 'partners' %>
	<%= render 'features' %>
	<%= render 'sectors' %>
	<%= render 'close' %>


</div>

<script>
	$( document ).ready(function() {
	  $('[data-toggle="popover"]').popover();
	  $('[data-toggle="collapse"]').collapse();	  
	  $('[data-toggle="tooltip"]').tooltip();	  	  
	});
</script>