<div class="section sectors">
	<div class="section-content">
		
		<div class="section-heading">
			<h5>Who we help</h5>
			<h2>Marketing to Chinese customers in the UK or setting up shop in China?</h2>
		</div>

		<div class="row">
			<div class="col-sm-6">
				<h3><%= image_tag "icons/015-airplane.png", class: "sector-icon" %>Travel</h3>
				<div class="sector-text">
					<p>Chinese tourists are dropping the travel group approach and <a href="http://www.labbrand.com/brandsource/a-new-generation-of-chinese-tourists-what-should-hospitality-brands-know" target="_blank">exploring the world</a> solo. They're organising their own trips, so make sure you're giving them the information that makes you their booking of choice.</p>
				</div>
			</div>
			<div class="col-sm-6">
				<h3><%= image_tag "icons/016-mortarboard.png", class: "sector-icon" %>Education</h3>
				<div class="sector-text">
					<p>Whether you're a university or language school, Chinese students constitute a large source of potential students. Enhance your reputation in China by speaking to them in their own language.</p>
				</div>
			</div>	
		</div>

		<div class="row">
			<div class="col-sm-6">
				<h3><%= image_tag "icons/007-shopping-bag.png", class: "sector-icon" %>Retail & Luxury</h3>
				<div class="sector-text">
					<p>Whether it's British, Swiss or French, Western heritage products continue to command a premium among Chinese consumers. Drive your e-commerce sales or online-to-offline purchases with branding & product information that specifically caters for your Chinese fans.</p>
				</div>
			</div>
			<div class="col-sm-6">
				<h3><%= image_tag "icons/009-money.png", class: "sector-icon" %>Investment</h3>
				<div class="sector-text">
					<p>Chinese investors are becoming more selective in how they allocate their capital. With in-house banking experience and connections to China's VC industry, we can help you better market your investment opportunities to this growing network.</p>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-6">
				<h3><%= image_tag "icons/011-doughnut.png", class: "sector-icon" %>Food & Entertainment</h3>
				<div class="sector-text">
					<p>Word of good restaurants and things to do abroad travels far and wide on Chinese social media. Give yourself a better chance of becoming "火" (hot) by having menus and guides that your Chinese customers can understand and enjoy.</p>
				</div>
			</div>
			<div class="col-sm-6">
				<h3><%= image_tag "icons/006-basketball-jersey.png", class: "sector-icon" %>Sports</h3>
				<div class="sector-text">
					<p>By having online presence in Mandarin, British sports clubs can build brand awareness and find new fans in China, with knock-on effects for ticket and merchandise sales down the line.</p>
				</div>
			</div>
		</div>

		<div class="row">	
			<div class="col-sm-6">
				<h3><%= image_tag "icons/android.png", class: "sector-icon" %>Tech</h3>
				<div class="sector-text">
					<p>Build mobile apps or other application software? We have first-hand experience taking sophisticated tech UI and redecorating it for Chinese users.</p>
				</div>
			</div>
			<div class="col-sm-6">
				<h3><%= image_tag "icons/008-youtube.png", class: "sector-icon" %>Film & video</h3>
				<div class="sector-text">
					<p>Double the size of your potential audience by adding Mandarin subtitles to your media. Working on a video project with Chinese speaking parts? We can help with that too.</p>
				</div>
			</div>
		</div>

		<div class="row">	
			<div class="col-sm-6">
				<h3><%= image_tag "icons/002-planet.png", class: "sector-icon" %>International Trade & Manufacturing</h3>
				<div class="sector-text">
					<p>Regularly exhibit at trade shows attended by Chinese buyers? Sell operational equipment and products to Chinese customers? Strengthen those connections by providing material in Mandarin and not just English.</p>
				</div>
			</div>		
			<div class="col-sm-6">
				<h3><%= image_tag "icons/chat.png", class: "sector-icon" %>Social Media & Content</h3>
				<div class="sector-text">
					<p>Want to make your content accessible to your Chinese customers? We can help with everything from WeChat posts and blog articles to making sure your Taobao and WeChat stores are nicely set up.</p>
				</div>
			</div>
		</div>

	</div>
</div>

<div class="clear"></div>
