<div class="section partners">
	<div class="section-content">

		<div class="section-heading">
			<h5>Experience</h5>
			<h2>Our team have provided translation services for companies such as</h2>
		</div>

		<div class="row">

			<div class="col-sm-6 col-md-4 partner-logo">
				<button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="NiHao App | Tech startup, Hangzhou">
					<%= image_tag "partner/nihao.png", alt: "NiHao App" %>
				</button>
			</div>
			<div class="col-sm-6 col-md-4 partner-logo">
				<button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Gates Foundation | International organisation, Beijing branch">
					<%= image_tag "partner/gates.png", alt: "Gates Foundation" %>
				</button>
			</div>

			<div class="clearfix visible-sm-block"></div>
			
			<div class="col-sm-6 col-md-4 partner-logo">
				<button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Traintracks | Tech startup, Beijing">
					<%= image_tag "partner/tt.png", alt: "Traintracks.io" %>
				</button>
			</div>
			<div class="col-sm-6 col-md-4 partner-logo">
				<button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title=" AirBnb | Tech giant, China office">				
					<%= image_tag "partner/airbnb.png", alt: "Airbnb" %>
				</button>
			</div>

			<div class="clearfix visible-sm-block"></div>

			<div class="col-sm-6 col-md-4 partner-logo">
				<button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="TS Tech | Precision engineering, Beijing">			
					<%= image_tag "partner/tstech.png", alt: "T&S Technologies" %>
				</button>
			</div>
			<div class="col-sm-6 col-md-4 partner-logo">
				<button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Panoramic Insurance | Insurance broker, Shanghai">				
					<%= image_tag "partner/pibb.png", alt: "Panoramic Insurance" %>
				</button>
			</div>
			<div class="col-md-12 partner-logo">
				<button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="Kinetic One | Digital media, Beijing">				
					<%= image_tag "partner/k1.png", alt: "Kinetic One" %>
				</button>
			</div>
		</div>		

	</div>	
</div>