<div class="page-en">
	<div class="page page-about">
		
		<div class="page-header">
			<nav class="navbar navbar-default">
			  <div class="container-fluid">
			    <!-- Brand and toggle get grouped for better mobile display -->
			    <div class="navbar-header">
				    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				        <span class="sr-only">Toggle navigation</span>
				        <span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
				    </button>    	
					<a class="navbar-brand hvr-grow" href="/en/home/">
						<%= image_tag "logo/logo-bulb-ye.png" %>
					</a>
			    </div>
			    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			      <ul class="nav navbar-nav navbar-right">
			        <li class="navbar-active-tab"><a href="about">WHO ARE WE?</a></li>
			        <li><a href="contact">CONTACT</a></li>        
					<li><a class="hvr-bob" href="/pages/about"><%= image_tag "flag-china.jpg", class: "flag", alt: "中文" %></a></li>
			      </ul>
			    </div><!-- /.navbar-collapse -->
			  </div><!-- /.container-fluid -->
			</nav>

			<div class="page-title">
				<h1>WHO ARE WE?</h1>
			</div>
		</div>

		<div class="page-wrapper">

			<div class="page-content">

				<div class="page-sub-content narrow">
					<h3>At Dengpao, our expertise lies in helping brands bridge the gap between English and Chinese. Our multilingual team have experience across a broad range of industries, so we can better position your content for its intended audience.</h3>
				</div>

			<div class="row">
				<div class="col-sm-4">
					<div class="team-member">
						<div>
							<%= image_tag "photo/rc.jpg" %>
						</div>
						<div>
							<h2>RYAN</h2>
							<h4>MARKETING LEAD</h4>
							<p>Ryan comes from the UK and speaks English and Chinese. Before his time in China, Ryan worked in the investment industry in the UK and Hong Kong. His more recent experience lies in marketing, translation and design. Ryan has a strong grasp of Chinese culture, with his network on the ground centred mainly around Shanghai.
							</p>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="team-member">
						<div>
							<%= image_tag "photo/zrq.jpg" %>
						</div>
						<div>
							<h2>RACHEL</h2>
							<h4>TRANSLATION LEAD</h4>
							<p>Rachel is a Chinese-native and speaks fluent English, having spent 5 years studying in the United States, as well as a stint living in the UK. Rachel has professional experience in the tech and media sectors, and has worked on English-Chinese translation projects for the likes of Gates Foundation and AirBnb. Rachel has strong links in Beijing and Shenzhen.
							</p>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="team-member">
						<div>
							<%= image_tag "photo/sr.jpg" %>
						</div>
						<div>
							<h2>SEBASTIAN</h2>
							<h4>CONSULTANT</h4>
							<p>Sebastian hails from Canada and speaks English, Mandarin and Korean. Sebastian has extensive teaching and translation experience and possesses a broad range of other skills, including graphic design and public speaking. Sebastian has spent several years in China and has a broad network in Shanghai.
							</p>
						</div>
					</div>
				</div>	
			</div>			

			<div class="row">
				<div class="col-sm-2">
				</div>				
				<div class="col-sm-4">
					<div class="team-member">
						<div>
							<%= image_tag "photo/qq.jpg" %>
						</div>
						<div>
							<h2>CHI CHI</h2>
							<h4>CONSULTANT</h4>
							<p>Sichuan-native Chi Chi is fluent in both English and Chinese. She is a graduate student of Shanghai's leading university, Fudan University, with her research focused on international education. Chi Chi is a passionate educator and teaches both English and Chinese as a foreign language.
							</p>
						</div>
					</div>
				</div>

				<div class="col-sm-4">
					<div class="team-member">
						<div>
							<%= image_tag "photo/dy.jpg" %>
						</div>
						<div>
							<h2>DANIEL</h2>
							<h4>CONSULTANT</h4>
							<p>Daniel comes from Shanghai and speaks fluent English and Mandarin, as well as conversational-level Japanese and French. Currently based in Canada, Daniel is well-versed in the nuances of Western and Chinese culture. Daniel's professional experience lies primarily in finance and investment, while he also has extensive experience teaching Mandarin to foreign students.
							</p>
						</div>
					</div>
				</div>	
				<div class="col-sm-2">
				</div>							
			</div>
		</div>

	</div>

	<footer>
		<%= render 'copyright' %>
	</footer>	
</div>