<div class="page-en">
	<div class="page page-about">
		
		<div class="page-header">
			<nav class="navbar navbar-default">
			  <div class="container-fluid">
			    <!-- Brand and toggle get grouped for better mobile display -->
			    <div class="navbar-header">
				    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				        <span class="sr-only">Toggle navigation</span>
				        <span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
				    </button>    	
					<a class="navbar-brand hvr-grow" href="/en/home/">
						<%= image_tag "logo/logo-icon-pink.png" %>
					</a>
			    </div>
			    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			      <ul class="nav navbar-nav navbar-right">
			        <li class="navbar-active-tab"><a href="about">WHO ARE WE?</a></li>
			        <li><a href="contact">CONTACT</a></li>        
					<li><a class="hvr-bob" href="/pages/about"><%= image_tag "flag-china.jpg", class: "flag", alt: "中文" %></a></li>
			      </ul>
			    </div><!-- /.navbar-collapse -->
			  </div><!-- /.container-fluid -->
			</nav>

			<div class="page-title">
				<h1>WHO ARE WE?</h1>
			</div>
		</div>

		<div class="page-wrapper">

			<div class="page-content">

				<div class="page-sub-content narrow">
					<h3>Our expertise lies in helping brands bridge the gap between English and Chinese. Our multilingual team have experience across a broad range of industries, so we can better position your content for its intended audience.</h3>
				</div>

				<div class="row">
					<div class="col-md-6">
						<div class="team-member">
							<div>
								<%= image_tag "photo/rc.jpg" %>
							</div>
							<div>
								<h2>RYAN 瑞安</h2>
								<p>Ryan comes from the UK and speaks English and Chinese. Before coming to China, Ryan worked in the investment industry in the UK and Hong Kong. His more recent experience lies in translation, trade, marketing and design. Ryan has a strong grasp of Chinese culture, with his network on the ground centred mainly around Shanghai.
								</p>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="team-member">
							<div>
								<%= image_tag "photo/zrq.jpg" %>
							</div>
							<div>
								<h2>RACHEL 若琼</h2>
								<p>Rachel is a Chinese-native and speaks fluent English, having spent 5 years in the USA while earning her BA from St Olaf College. Rachel has experience in the tech and media sectors, and has translated between English and Chinese for the likes of Gates Foundation and AirBnb. Rachel has strong links in Beijing and Shenzhen.</p>
							</div>
						</div>
					</div>							
				</div>

				<div class="row">
					<div class="col-sm-4">
						<div class="team-member">
							<div>
								<%= image_tag "photo/dy.jpg" %>
							</div>
							<div>
								<h2>Daniel</h2>
								<p>Daniel comes from Shanghai and speaks fluent English and Chinese. Currently based in Canada, Daniel's professional experience lies in the finance and education sectors.
								</p>
							</div>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="team-member">
							<div>
								<%= image_tag "mike.png" %>
							</div>
							<div>
								<h3>Sebastian</h3>
								<p>Sebastian来自加拿大，使用英语（母语）、中文、韩语、德语及西班牙语。
								</p>
							</div>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="team-member">
							<div>
								<%= image_tag "mike.png" %>
							</div>
							<div>
								<h3>Xian Qi</h3>
								<p>Qiqi is fluent in both English and Chinese and has extensive experience in the education sector.
								</p>
							</div>
						</div>
					</div>				
				</div>

			</div>

		</div>

	</div>
</div>