<div class="page page-about">
	
	<div class="page-header">
		<nav class="navbar navbar-default">
		  <div class="container-fluid">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
			    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
			    </button>    	
				<a class="navbar-brand" href="home">
				<%= image_tag "logo/logo-1.png" %>
				</a>
		    </div>
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      <ul class="nav navbar-nav navbar-right">
		        <li><a href="trans">Translation</a></li>
		        <li class="navbar-active-tab"><a href="about">About Us</a></li>
		        <li><a href="contact">Contact</a></li>        
				<li><a href="/"><%= image_tag "flag-china.jpg", class: "flag", alt: "中文" %></a></li>
		      </ul>
		    </div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</nav>

		<div class="page-title">
			<h2>About Us</h2>
		</div>
	</div>

	<div class="page-wrapper">

		<div class="page-content">

			<div class="page-sub-content narrow">
				<p>We are an experienced team made up of bilingual native English and Chinese speakers.</p>
			</div>

			<div class="row">
				<div class="col-md-6">
					<div class="team-member">
						<div>
							<%= image_tag "photo/rc.jpg" %>
						</div>
						<div>
							<h3>Ryan</h3>
							<p>Ryan comes from the UK and speaks English and Chinese, having studied Mandarin at two of Shanghai's top-ranked universities, Fudan University and ECNU. Prior to moving to China, Ryan worked in the UK and Hong Kong for Barclays in wealth and investment management. His more recent experience lies in marketing and design, not to mention English-Chinese translation. Ryan has a strong grasp of Chinese culture and with the core of his network lying in Shanghai.
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="team-member">
						<div>
							<%= image_tag "photo/zrq.jpg" %>
						</div>
						<div>
							<h3>Rachel</h3>
							<p>Rachel is a Chinese-native and speaks fluent English, having spent 5 years in the USA while earning her BA from St Olaf College. Rachel has experience in the tech and media sectors, and has translated between English and Chinese for the likes of Gates Foundation and AirBnb.</p>
						</div>
					</div>
				</div>							
			</div>

			<div class="row">
				<div class="col-sm-4">
					<div class="team-member">
						<div>
							<%= image_tag "mike.png" %>
						</div>
						<div>
							<h3>Sebastian</h3>
							<p>Sebastian来自加拿大，使用英语（母语）、中文、韩语、德语及西班牙语。
							</p>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="team-member">
						<div>
							<%= image_tag "mike.png" %>
						</div>
						<div>
							<h3>Daniel</h3>
							<p>Daniel comes from Shanghai and speaks fluent English and Chinese.
							</p>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="team-member">
						<div>
							<%= image_tag "mike.png" %>
						</div>
						<div>
							<h3>Dany</h3>
							<p>Dany comes from Switzerland and speaks French, English and Hebrew.
							</p>
						</div>
					</div>
				</div>				
			</div>

		</div>

	</div>

	<footer>
		<%= render 'copyright' %>
	</footer>
</div>