<!DOCTYPE html>
<html>
<head>
  <title>Dengpao Media | 灯泡咨询 | China-facing marketing, localisation and translation solutions</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

	<!--  Essential social media css-tricks.com -->

	<meta property="og:title" content="Dengpao Media 灯泡咨询">
	<meta property="og:description" content="China-facing marketing, localisation and translation solutions">
	<meta property="og:image" content="logo/brand-banner.png">
	<meta property="og:url" content="http://www.dengpao.co/en/home">
	<meta name="twitter:card" content="summary_large_image">

	<!--  Non-Essential, But Recommended -->

	<meta property="og:site_name" content="Dengpao Media 灯泡咨询">
	<meta name="twitter:image:alt" content="Dengpao Media 灯泡咨询">

  <%= favicon_link_tag 'favicon.ico' %>
  
  
</head>

<body>

  <%= yield %>

</body>
</html>
